<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de integrantes</title>
</head>

<body>
    
    <h1>Integrantes</h1>
    <section>
        
        <h3>filtrar</h3>
        <form action="/admin/integrantes/listar" method="get">
        <label>id</label>
        <input type="text" name="s[id]">
        
        <label>matricula</label>
        <input type="text" name="s[matricula]">
        
        <label>nombre</label>
        <input type="text" name="s[nombre]">
        
        <label>apellido</label>
        <input type="text" name="s[apellido]">


        <input type="submit" value="filtrar">
        </form>
    </section>
    <h2>Listado</h2>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Apellido</th> 
                
                <th>acciones</th>            
            </tr>
            {{#each integrantes}}
            <tr>
                <td><a href="/admin/integrantes/edit/{{this.id}}">{{this.id}}</a></td>                
                <td>{{this.matricula}}</td>
                <td>{{this.nombre}}</td>
                <td>{{this.apellido}}</td>
                
                <td>
                    <form action="/admin/integrantes/delete/{{this.id}}" method="post">
                    <input type="submit" value="eliminar">
                    </form>
                </td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if integrantes.length}}
            
        {{else}}
            <span>No hay datos de integrantes registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crearnuevo" href="/admin/integrantes/crear">Crear Nuevo</a>
    <a href="/admin/main">Volver</a>
</body>
</html>