<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar tipo de media</title>
</head>
<body>
    <h1>editar tipo de media</h1>
    <section class="editar">
        {{#each media}}
        <form action='/admin/media/update/{{id}}' method="post">
        
            <label for="id">ID</label>
            <input type="text" id="id" name="Id" placeholder="Id" value="{{id}}" disabled>

            
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="{{nombre}}">

            

        
            <input type="submit" value="modificar">
        </form>
        {{/each}}
    </section>
    
    <a class="volver" href="/admin/media/listar">Volver</a>

</body>
</html>