<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado del tipo de media</title>
</head>
<section>
        
        <h3>filtrar</h3>
        <form action="/admin/media/listar" method="get">
        <label>id</label>
        <input type="text" name="s[id]">
        
        <label>nombre</label>
        <input type="text" name="s[nombre]">


        <input type="submit" value="filtrar">
        </form>
    </section>
    <h2>Listado</h2>
    <section>

<body>
    <h1>Listado de tipos</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>nombre</th> 
                             
            </tr>
            {{#each media}}
            <tr>
                <td><a href="/admin/media/edit/{{this.id}}">{{this.id}}</td>
                <td>{{this.nombre}}</td>
             
                <td>
                    <form action="/admin/media/delete/{{this.id}}" method="post">
                    <input type="submit" value="eliminar">
                    </form>
                </td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crearnuevo" href="/admin/media/crear">Crear Nuevo</a>
    <a href="/admin/main">Volver</a>
</body>
</html>