<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear medios</title>
</head>
<body>
    <h1>ingresar contenido</h1>
    <section class="form_crear">
        <form action="/admin/media2/create" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Medio</legend>

                <label for="Tmedia">tipo de media</label>
                <input id="Tmedia" name="Tmedia" type="text" >

                <label for="Titulo">Titulo</label>
                <input id="Titulo" name="Titulo" type="text" >

                <label for="src">src</label>
                <input id="src" name="src" type="file">

                <label for="url">url</label>
                <input id="url" name="url" type="text">

                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" >
                
                <label for="integrante">integrante</label>
                <input id="integrante" name="integrante" type="text" >

                <label for="estado">estado</label>
                <input id="estado" name="estado" type="text" >

            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a class="volver" href="/admin/media2/listar">Volver</a>

    
</body>
</html>