<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear medios</title>
</head>
<body>
    <h1>modificar contenido</h1>
    <section class="form_crear">
         {{#each media2}}
        <form action='/admin/media2/update/{{id}}' method="post" enctype="multipart/form-data">
            
               
                <legend>Medio</legend>

                <label for="id">id</label>
                <input id="id" name="id" type="text" placeholder="id" value="{{id}}" disabled>

                <label for="Tmedia">tipo de media</label>
                <input id="Tmedia" name="Tmedia" type="text" placeholder="Tmedia" value="{{Tmedia}}">

                <label for="Titulo">Titulo</label>
                <input id="Titulo" name="Titulo" type="text" placeholder="Titulo" value="{{Titulo}}">

                <label for="src">src</label>
                <input id="src" name="src" type="file" placeholder="src" value="{{src}}">

                <label for="url">url</label>
                <input id="url" name="url" type="text" placeholder="url" value="{{url}}">

                <label for="matricula">Matricula</label>
                <input id="matricula" name="matricula" type="text" placeholder="matricula" value="{{matricula}}">
                
                <label for="integrante">integrante</label>
                <input id="integrante" name="integrante" type="text" placeholder="integrante" value="{{integrante}}">

                
                
            


            
            <input type="submit" value="modificar">
        </form>
        {{/each}}
    </section>
    <a class="volver" href="/admin/media2/listar">Volver</a>

    
</body>
</html>