<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listado de media</title>
</head>
<section>
        
        <h3>filtrar</h3>
        <form action="/admin/media2/listar" method="get">
        <label>id</label>
        <input type="text" name="s[id]">

        <label>tipo de media</label>
        <input type="text" name="s[Tmedia]">

        <label>Titulo</label>
        <input type="text" name="s[Titulo]">
        
        <label>matricula</label>
        <input type="text" name="s[matricula]">
        
        <label>integrante</label>
        <input type="text" name="s[integrante]">



        <input type="submit" value="filtrar">
        </form>
    </section>
    <h2>Listado</h2>
    <section>

<body>
    <h1>Listado de medios</h1>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>tipo de media</th>
                <th>Titulo</th>
                <th>src</th>
                <th>url</th>  
                <th>matricula</th>  
                <th>integrante</th>                        
            </tr>
            {{#each media2}}
            <tr>
                
                <td><a href="/admin/media2/edit/{{this.id}}">{{this.id}}</td>
                <td>{{this.Tmedia}}</td>
                <td>{{this.Titulo}}</td>
                <td><img style="height: 100px; width: 100px;" src="{{this.src}}" alt="{{Titulo}}"></td>
                <td><iframe src="{{this.url}}" frameborder="0"></iframe></td>                
                <td>{{this.matricula}}</td>
                <td>{{this.integrante}}</td>
                <td>
                    <form action="/admin/media2/delete/{{this.id}}" method="post">
                    <input type="submit" value="eliminar">
                    </form>
                </td>
            </tr>            
            {{/each}}
        </table>
        <section>
             {{#if media2.length}}
            
        {{else}}
            <span>No hay datos de tipo de media registrados</span>
        {{/if}}
        </section>
       
    </section>
    <a class="Crear nuevo" href="/admin/media2/crear">Crear Nuevo</a>
    <a href="/admin/main">Volver</a>
    
</body>
</html>