<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
    <h2>Iniciar Sesión</h2>
   <form class="container py-5 h-100" action="/auth/login" method="post">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2><i class="fas fa-arrow-circle-left" onclick="window.location.href='/'"></i> Login</h2>
            <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"/>
            </div>
            <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Contraseña"/>
            </div>
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.toggle-password').on('click', function () {
            const passwordInput = $('#contrasenha');
            const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
            passwordInput.attr('type', type);
            $(this).toggleClass('fa-eye fa-eye-slash');
        });
    });
    let errorMessages = new URLSearchParams(window.location.search).get('errors');
    errorMessages = errorMessages.replace(/\\n/g, '\n');
    let mensajeSeparado = errorMessages.split('\n');
    console.log(mensajeSeparado);
    console.log(errorMessages);
    var errorMensaje = 'Ocurrió un error';
    if (errorMessages) {
        var formattedErrorMessage = errorMessages.replace(/\n/g, '<br>');
        errorMensaje = formattedErrorMessage;
    }
    $('#errorModal .modal-body').html(errorMensaje);
    $('#errorModal').modal('show');
</script>

</body>
</html>